/*-----------NAV-HEADER-----------*/


nav ul{  
    margin-right: 11px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

nav ul li{
   text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
    color:black;
    cursor: pointer
} 

nav ul li a{
    color:black;
   text-decoration: none;

}

nav ul li a:hover{
    text-decoration-line: none;
    color: #007bff;
    transition: .3s;

}
